@font-face {
    font-family: Invaders;
    src: url(assets/font/Invaders.otf);
}

::-webkit-scrollbar {
    display: none;
}

.bubble {
    padding: 5px 12px;
    width: max-content;
    max-width: calc(100% - 50px);
    margin-bottom: 16px;
    word-break: normal;
    font-family: Invaders;
}

.message-list {
    height: calc(100% - 185px)
}

.bubble-left {
    background-color: rgba(124, 197, 217, 0.8);
    border-radius: 20px 8px 20px 0;
    animation: fade-in-left 0.5s ease-in-out;
    color: #09363e;
}

.textbox {
    font-family: Invaders;
}

.bubble-right {
    background-color: rgba(41, 41, 41, 0.7);
    border-radius: 20px 20px 0px 20px;
    animation: fade-in-right 0.5s ease-in-out;
    color: #fff;
}

@media (max-width: 640px) {
    .bg-middle {
        width: 100%;
        background-size: 100% 100%;
        background-image: url('assets/images/bg_mobile.webp');
    }
}

@media (min-width: 1024px) {
    .bg-middle {
        width: 40%;
        background-size: 100% 100%;
        background-image: url('assets/images/bg_desktop2.webp');
    }
}

@media (max-width: 640px) {
    .mic {
        cursor: pointer;
        width: 65px;
        height: 65px;
    }
}

@media (min-width: 1024px) {
    .mic {
        cursor: pointer;
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 640px) {
    .message-list {
        height: calc(100% - 185px - 128px);
        margin-top: 8rem;
    }
}

@media (min-width: 1024px) {
    .message-list {
        height: calc(100% - 185px);
        padding-top: 2rem;
    }
}

@media (max-width: 640px) {
    .textbox-container {
        height: 170px;
    }
}

@media (min-width: 1024px) {
    .textbox-container {
        height: 180px
    }
}

@media (max-height: 740px) {
    .textbox-container {
        height: 130px
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}